body {
    font-family: "Roboto";
    background: #f7f7f7;
}

a:hover {
    text-decoration: none;
    color: #0281bf;
}

a:focus, img:focus, div:focus {
    outline: none;
}

em {
    color: inherit;
}

.padding {
    padding: 100px 0;
}

h1, h2 {
    /*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: 'Raleway', sans-serif;;
    font-size: 2.4em;
}

.features h3, .gallery h3, .contributors h3, .feeds h3 {
    padding: 1rem 0;
    text-align: center;
}

.uk-text-lead {
    font-weight: bold;
}


/* NAV
============================*/

a:hover {
    cursor: pointer;
}

nav li a {
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.04);
}

nav ul li a {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-fixed { z-index: 9999; }

.brand-logo {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

a.btn {
     transition: all 0.5s ease!important;
}

nav .nav-active:not(.btn):after {
    content: '';
    display: block;
    background-color: rgba(255, 255, 255, 1);
    height: 2px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -16px;
}

.side-nav .nav-active:after {
    content: '';
    display: block;
    background: rgba(0,0,0,0);
    height: 0;
    width: 0;
    margin: 0 auto;
    position: relative;
    top: -16px;
}

.side-nav li > a >i {
    margin-right: 0 !important;
}

.dropdown-content li a {
    text-shadow: none;
}


/* Nav Social
===============================================*/
#nav-social i:first-child {
    color: #fdfdfd;
    text-shadow: 0 0 7px rgba(0, 0, 0, 0.05);
    font-size: 1.7em;
}

#nav-social i:last-child {
    color: #26a69a;
    text-shadow: none;
    font-size: .9em
}

#nav-social li {
    width: 52px;
}


/* Hover
===============================================*/
nav.custom a:hover {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
}

nav.custom a:active, nav.custom a:hover {
    outline: 0;
}

nav.custom ul a:hover {
    background-color: rgb(239, 139, 140);
}

nav.custom .btn:hover, nav.custom .btn-large:hover {
    background-color: #33c1b3;
}

nav.custom ul.dropdown-content  a:hover, nav.custom  ul.dropdown-content li.active, nav.custom ul.dropdown-content li.selected {
    background-color: #E2E2E2;
}

nav.custom .dropdown-content a:hover {
    color: #2bbbad;
}

#nav-social li:hover i.fa-stack-2x {
    color: white;
    text-shadow: 0 0 20px rgba(231, 129, 133, 0.62);
    font-size: 1.757em;
}

#nav-social li:hover i.fa-stack-1x {
    color: #2bbbad;
}


/* Intro
========================== */

.intro h1 {
    font-size: 28px;
    line-height: 1.5em;
    font-weight: 900;
    text-transform: uppercase;
    padding: 40px 20px 16px;
    margin-bottom: 0;
}

.uk-slidenav:hover {
    color: black;
}

.github-button {
    text-align: center;
    padding: 5px;
}

@media only screen and (min-width: 550px)  {

    .faq li h3 {
        font-size: 1.5rem;
    }

    .section {
        padding-top: 30px;
        padding-bottom: 40px;
        padding-right: 20px;
        padding-left: 20px;
    }
}

@media only screen and (min-width: 420px)  {
    h1, h2, .intro h1 {
        padding-bottom: 0;
        font-size: 36px;
        font-weight: 400;
    }

    .intro {
        padding-top: 50px;
    }

    .intro img {
        margin-top: 45px;
        padding-right: 20px;
        padding-left: 20px;
        max-height: 142px;
    }

    .github-button {
        padding: 40px;
    }
}

@media only screen and (min-width: 700px)  {
    .features h3, .gallery h3, .contributors h3 {
        padding: 3rem 0;
    }
}

@media only screen and (min-width: 1160px)  {
    h1, h2, .intro h1 {
        font-size: 3.4em;
    }
}


/* Features section
============================ */

.features i {
    padding: 10px 0;
}

.features p {
    padding-right: 5%;
    padding-left: 5%;
}

@media only screen and (min-width: 640px) {
    .features i {
        padding: 25px 0;
    }
}


/* FAQ
============================*/

.faq h2 {
    font-size: 1.5rem;
}


/* Built with UserFrosting Gallery
====================================*/

.slide {
  position: relative;
}

.slide__caption {
  bottom: 0;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: #333;
  padding-top: 6px;
  padding-bottom: 12px;
}

.slick-slider .slide {
    margin-right: 10px;
    margin-left: 10px;
}

.slick-prev:before, .slick-next:before {
    color: black ;
}

@media only screen and (max-width: 434px) {
    .slick-slide img {
        width: 282px;
    }
    .slick-next {
        right: 0;
    }
    .slick-prev {
        left: 0;
        z-index: 100;
    }
}

@media only screen and (max-width: 335px) {
    .slick-prev:before, .slick-next:before {
        color: rgb(56, 170, 214);
    }
}


/* Contributors
=================================*/

.contributors img {
    max-width: 50px;
    border-radius: 999px;
}

.contributors h1 {
    display: inline;
}

.uk-article-title {
    vertical-align: middle;
    font-size: 2rem;
    padding-left: 1rem;
}


/* TWITTER FEED
==========================*/
.feed-item .meta {
    position: relative;
    top: -20px;
}

.feed-item a.meta {
    color: gray;
}

.feed-item {
    background: white;
    padding: 20px;
    margin: 20px;
}

.twitter {
    margin: 60px auto;
}


/* FOOTER
==============================*/

footer {
    color: rgba(255, 255, 255, 0.75);
}

footer a {
    color: #fff;
}

footer a:hover {
    color: rgb(214, 213, 213);
    color: rgba(255, 255, 255, .75);
    text-decoration: none;
}

footer.page-footer {
    margin-top: 60px;
}

footer .social i {
    padding: 10px;
}

@media only screen and (max-width: 415px) {
    footer.page-footer .footer-copyright {
        padding-right: 5px;
        padding-left: 5px;
        line-height: 1.25em;
        }

    .footer-copyright {
        padding-top: 10px;
    }
}
