/* SITE WIDE */

.section {
    padding-top: 75px;
    padding-bottom: 100px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* NAV */
a:hover {
    cursor: pointer;
}

nav ul li a {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-fixed { z-index: 9999; }

.brand-logo {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

a.btn {
     transition: all 0.5s ease!important;
}

a.btn:hover {
    background-color: #ffebee!important;
}

nav a:hover:after {
    content: '';
    display: block;
    background: rgba(255, 255, 255, 1);
    height: 2px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -16px;
}

nav a.btn:hover:after {
    content: '';
    display: none;
    height: 0px;
    width: 0;
}

nav .nav-active:after {
    content: '';
    display: block;
    background-color: rgba(255, 255, 255, 1);
    height: 2px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -16px;
}

.side-nav .nav-active:after {
    content: '';
    display: block;
    background: rgba(0,0,0,0);
    height: 0px;
    width: 0px;
    margin: 0 auto;
    position: relative;
    top: -16px;
}

/*INTRO SECTION*/

.intro {
    background-color: #f7f7f7;
    background: linear-gradient(#f7f7f7, #fff);
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}



h1, h2, h3, h4, h5 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, {
    font-size: 2.4em;
}
    
.intro h1 {
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    /*text-shadow: 8px 7px 9px #958cab;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
}

@media only screen and (min-width: 668px)  {
    h1, .intro h1 {
        font-size: 3.4em;
    }
}


/* FRONTPAGE SECTION */

.frontpage {
    padding: 0px 100px 75px 100px;
    background-color: #fff
}




/* Extendable section */

.extendable {
    background-color: teal;
}
 .extendable h3 {
    color: white;
 }
 
 /* Better section */

.better {
    background-color: #f9f9f9;
}


/* Features section */

.features {

}
.features .col {
   border-right: 1px solid #eaeaea;
   border-bottom: 1px solid #c2c2c2;

   padding-top: 50px;
   height: 440px;
}

.features .user img {
    height: 150px;
}

.features .user {
    background-color: #f9f9f9;
}

.features h6 {
    padding-top: 25px;
    padding-bottom: 10px;
    color: #70b4d5;
}

.features p {
    padding-right: 5%;
    padding-left: 5%;
}
/* Built with Userfrosting*/



/* Contributors */

.contributors img {
    max-width: 50px;
}
/*Help Section and Interact Page*/


.help li, .interact li {
    list-style-type: disc !important;
    line-height: 1.5rem;
    padding-top: 1.25rem;
}

li ul li {
    margin-left: 4rem;
}

.pinku {
    padding-bottom: .5rem;
    border-bottom: 3px pink;
    border-bottom-style: solid;
}

/*FOOTER*/


/*slick*/

/* BS*/
.one, .two, .three { width: 100px; height:100px;}
.one {background-color: red;}
.two{background-color: blue;}
.three{background-color: green;}

