/* SITE WIDE */

*:focus {
outline: none;
}

.white-text {
    color: rgba(241, 241, 241, 1) !important;
}
.section {
    padding-top: 75px;
    padding-bottom: 100px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.center-align {
    text-align: -moz-center;
    text-align: -webkit-center;
}

/* NAV */

a:hover {
    cursor: pointer;
}

nav ul li a {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-fixed { z-index: 9999; }

.brand-logo {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

a.btn {
     transition: all 0.5s ease!important;
}

nav .nav-active:after {
    content: '';
    display: block;
    background-color: rgba(255, 255, 255, 1);
    height: 2px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -16px;
}

.side-nav .nav-active:after {
    content: '';
    display: block;
    background: rgba(0,0,0,0);
    height: 0px;
    width: 0px;
    margin: 0 auto;
    position: relative;
    top: -16px;
}

/*INTRO SECTION*/

.intro {
    background-color: #f7f7f7;
    background: linear-gradient(#f7f7f7, #fff);
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}



h1, h2, h3 {
    /*font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;*/
    font-family: 'Raleway', sans-serif;;
    font-size: 2.4em;
    text-transform: uppercase;
}

.intro h1 {
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    /*text-shadow: 8px 7px 9px #958cab;*/
    /*font-family: 'Montserrat', sans-serif;
    font-weight: 700;*/
    font-size: 36px;
    text-transform: uppercase;
}

@media only screen and (min-width: 668px)  {
    h1, h2, .intro h1 {
        font-size: 3.4em;
    }
}

@media only screen and (max-width: 420px)  {
    .intro a:nth-of-type(3) {
        margin-top: 15px;
    }
}

/* FRONTPAGE SECTION */

.frontpage {
    background-color: #fff;
    padding-bottom: 50px;
}

@media only screen and (min-width: 992px)  {
    .frontpage {
        padding: 0px 100px 75px 100px;
    }
}

/* Extendable section */

.extendable {
    background-color: teal;
}
 .extendable {
    color: rgba(241, 241, 241, 1);
 }
 
 /* Better section */

.better {
    background-color: #f9f9f9;
}


/* Features section */

.features {
    padding-bottom: 0px;
}
.features .row {
    margin-bottom: 0px;
    padding-bottom: 0px;
}
.features .col {
   border-right: 1px solid #eaeaea;
   border-bottom: 1px solid #c2c2c2;
   padding-top: 50px;
   height: 440px;
}

@media only screen and (max-width: 600px) {
    .features .col:nth-of-type(1) {
        padding-top: 0px;    
    }
}

.features .last {
   border-bottom: none;
}

.features .user img {
    height: 150px;
}


.features .user {
    background: linear-gradient(#fff, #f9f9f9);
}

.features h2 {
    margin-bottom: 0px;
}

@media only screen and (min-width: 600px) {
    .features h2 {
        margin-bottom: 75px;
    }
}

.features h6 {
    padding-top: 25px;
    padding-bottom: 10px;
    color: #4da4c4;
}

.features p {
    padding-right: 5%;
    padding-left: 5%;
}

@media only screen and (max-width: 434px) {
    .features .btn-large {
    font-size: 1.1rem;
    }
}

/* Built with Userfrosting*/

/*Captions  */

.slide {
  position: relative;
}

.slide__caption {
  bottom: 0px;
  position: absolute;
  width: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, .9);
  padding-top: 6px;
  padding-bottom: 12px;
}

/*End captions */


.builtwith {
    background-color: teal;
}

.slick-slider .slide {
    margin-right: 50px;
    margin-left: 50px;
}

/* Contributors */

.contributors {
    background-color: rgba(243, 243, 243, 0.39);
}

.contributors .circle {
    background-color: #ee6e73;
}
.contributors img {
    max-width: 50px;
}


/*Features page*/

.features-page .developer {
    background-color: rgba(243, 243, 243, 0.39);
}

.features-page .user {
    background-color: white;   
}

.features-page h1:first-child {
    margin-top: 0px;
}

.features-page-intro {
    padding-top: 75px;
    padding-bottom: 25px;
    background-color: rgb(238, 238, 238));
}

.features-page-intro h1 {
    color: teal;
    text-align: center;
}

.features-page-intro h2 {
    font-size: 32px;
    text-align: center;
}

.features-page-intro img {
    max-height:100px;
}

.features-page h1 {
    color: #ee6e73;
    text-align: center;
}

.features-page h1 {
    padding-top: 75px;
}

.features-page h2 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 75px;
}

.features-page h3 {
    text-transform: none;
    color: teal;
}

.features-page-intro li a {
    font-size: 26px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 200;
}

.features-page-intro ul {
    text-align: center;
    margin-top: 75px;
}

.features-page:last-child {
    padding-bottom: 100px;
}

.features-page p {
    padding-bottom: 50px;
}

.features-page p {
  font-weight: 300;
}

@media only screen and (min-width: 360px) {
  .features-page p {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 390px) {
  .features-page p {
    font-size: 1.224rem;
  }
}

@media only screen and (min-width: 420px) {
  .features-page p {
    font-size: 1.248rem;
  }
}

@media only screen and (min-width: 450px) {
  .features-page p {
    font-size: 1.272rem;
  }
}

@media only screen and (min-width: 480px) {
  .features-page p {
    font-size: 1.296rem;
  }
}

@media only screen and (min-width: 510px) {
  .features-page p {
    font-size: 1.32rem;
  }
}

@media only screen and (min-width: 540px) {
  .features-page p {
    font-size: 1.344rem;
  }
}

@media only screen and (min-width: 570px) {
  .features-page p {
    font-size: 1.368rem;
  }
}

@media only screen and (min-width: 600px) {
  .features-page p {
    font-size: 1.392rem;
  }
}

@media only screen and (min-width: 630px) {
  .features-page p {
    font-size: 1.416rem;
  }
}

@media only screen and (min-width: 660px) {
  .features-page p {
    font-size: 1.44rem;
  }
}

@media only screen and (min-width: 690px) {
  .features-page p {
    font-size: 1.464rem;
  }
}

@media only screen and (min-width: 720px) {
  .features-page p {
    font-size: 1.488rem;
  }
}

@media only screen and (min-width: 750px) {
  .features-page p {
    font-size: 1.512rem;
  }
}

@media only screen and (min-width: 780px) {
  .features-page p {
    font-size: 1.536rem;
  }
}

@media only screen and (min-width: 810px) {
  .features-page p {
    font-size: 1.56rem;
  }
}

@media only screen and (min-width: 840px) {
  .features-page p {
    font-size: 1.584rem;
  }
}

@media only screen and (min-width: 870px) {
  .features-page p {
    font-size: 1.608rem;
  }
}

@media only screen and (min-width: 900px) {
  .features-page p {
    font-size: 1.632rem;
  }
}

@media only screen and (min-width: 930px) {
  .features-page p {
    font-size: 1.656rem;
  }
}

@media only screen and (min-width: 960px) {
  .features-page p {
    font-size: 1.68rem;
  }
}

@media only screen and (max-width: 360px) {
  .features-page p {
    font-size: 1.2rem;
  }
}


/*FOOTER*/

footer img {
    max-width: 100px;
    text-align: center;
}

footer .footer-alt li {
     list-style-type: disc !important;
}

.footer-copyright a {
 color: white;   
}

footer.page-footer {
    margin-top: 0px;
}

footer .col:nth-of-type(1) {
    padding-right: 50px;
}

footer .col:nth-of-type(2) {
    padding-left: 50px;
}

@media only screen and (max-width: 415px) {
footer.page-footer .footer-copyright {
    padding-right: 5px;
    padding-left: 5px;
    line-height: 1.25em;
    }
}


