/* SITE WIDE */

.section {
    padding-top: 100px;
    padding-bottom: 100px;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


/* NAV */
a:hover {
    cursor: pointer;
}

nav ul li a {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    text-transform: uppercase;
}

.navbar-fixed { z-index: 9999; }

.brand-logo {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

a.btn {
     transition: all 0.5s ease!important;
}

a.btn:hover {
    background-color: #ffebee!important;
}

nav a:hover:after {
    content: '';
    display: block;
    background: rgba(255, 255, 255, 1);
    height: 2px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -16px;
}

nav a.btn:hover:after {
    content: '';
    display: none;
    height: 0px;
    width: 0;
}

nav .nav-active:after {
    content: '';
    display: block;
    background-color: rgba(255, 255, 255, 1);
    height: 2px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -16px;
}

.side-nav .nav-active:after {
    content: '';
    display: block;
    background: rgba(0,0,0,0);
    height: 0px;
    width: 0px;
    margin: 0 auto;
    position: relative;
    top: -16px;
}

/*INTRO SECTION*/

.intro .carousel {
    height: 310px;
    margin-top: 1rem;
}

.intro .carousel-item {
    width: 310px
}

.intro .carousel img {
    box-shadow: 4px 11px 20px 3px rgba(185, 177, 177, 0.4)!important;
}

.joined {

}

.intro {
    background-color: #f7f7f7;
    height: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1, h2, h3, h4, h5 {
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, .intro h1 {
    font-size: 2.4em;
}
    
.intro h1 {
    padding-bottom: 0rem;
    margin-bottom: 0rem;
    position: relative;
    top: 25px;
    /*text-shadow: 8px 7px 9px #958cab;*/
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-transform: uppercase;
}

@media only screen and (min-width: 668px)  {
    h1, .intro h1 {
        font-size: 3.4em;
    }
}

.intro h2 {
    font-family: Roboto;
    font-weight: 100;
    font-style: italic;
    padding-bottom: 1rem;
}


/* FRONTPAGE SECTION */

.overlay-header {
    background: linear-gradient( rgba(0,0,0,0), rgba(255, 255, 255, .9) );
    z-index: 2;
}

.frontpage h4 {
    margin-top: 100px;
}

.frontpage {
    padding: 25px 100px 75px 100px;
}


/* Extendable section */

.extendable {
    background-color: teal;
}
 .extendable h3 {
    color: white;
    margin-top: 6rem;
 }
 
 /* Better section */
 


/* Features section */

.features-developer .tabs, .features-user .tabs {
    background-color: transparent;
}
.features-developer h4 {
    margin-bottom: 8rem;
}

.features-developer {
    padding: 45px;
}

.features-developer h3 {
    color: red;
}

.feature-img2 {
    text-align: center;
}

.feature-img img {
    height: 100px;
}

.feature-img2 img {
    height: 100px;
}
/* Built with Userfrosting*/


.hover-img  {
    position: absolute;
    width: 360px;
    height: 263px;
    opacity: 0;
    background: rgb(255, 176, 202);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

.hover-img:hover {
    opacity: .5;
    cursor: pointer;
    max-width: 100%;
    overflow: auto;
}

.builtwith img {
    max-width: 100%;
}

/* Contributors */

.contributors img {
    max-width: 50px;
}
/*Help Section and Interact Page*/


.help li, .interact li {
    list-style-type: disc !important;
    line-height: 1.5rem;
    padding-top: 1.25rem;
}

li ul li {
    margin-left: 4rem;
}

.pinku {
    padding-bottom: .5rem;
    border-bottom: 3px pink;
    border-bottom-style: solid;
}

/*FOOTER*/


/*slick*/

/* BS*/
.one, .two, .three { width: 100px; height:100px;}
.one {background-color: red;}
.two{background-color: blue;}
.three{background-color: green;}

