/* SITE WIDE */

a:hover {
    cursor: pointer;
}

@media only screen and (max-width: 668px)  {
    h1, .intro h1 {
        font-size: 3.4em !important;
    }
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

div.section:nth-child(even) {
    background-color: #eceff1;
}

div.section:last-child {
    background-color: white;
    box-shadow: 0px 0px white;
}

nav ul li a {
    color: black;
    font-family: Roboto;
    font-weight: 500;
    text-transform: uppercase;
}

.navbar-fixed { z-index: 9999; }

.active:after {
    content: '';
    display: block;
    background: rgba(0,0,0,.1);
    height: 2px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    top: -16px;
}

.side-nav .active:after {
    content: '';
    display: block;
    background: rgba(0,0,0,0);
    height: 0px;
    width: 0px;
    margin: 0 auto;
    position: relative;
    top: -16px;
}

/*FRONTPAGE SECTION*/

.intro {
  height: 400px;
  background-image: url('../images/background.svg');
}

.intro h1 {
    padding-top: 1rem;
}

.intro h2 {
    font-family: Roboto;
    font-weight: 100;
    font-style: italic;
    padding-bottom: 1rem;
}

.container-heading {
    position: relative;
    top: 80px;
    /*width: 80%;
    background-color: white;
    outline: #9c9a9a 1px solid;
    box-shadow: 6px 7px 7px 4px rgba(187, 184, 184, 0.5)*/
}

.frontpage h4 {
    margin-top: 100px;
}

@media only screen and (min-width:601px) {

}

@media only screen and (min-width:992px) {

}

@media only screen and (min-width:993px) {

}

@media only screen and (min-width:1350px) {

}

/* Features section */


/* Built with Userfrosting*/


.hover-img  {
    position: absolute;
    width: 360px;
    height: 263px;
    opacity: 0;
    background: rgb(255, 176, 202);
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}

.hover-img:hover {
    opacity: .5;
    cursor: pointer;
    max-width: 100%;
    overflow: auto;
}

.builtwith img {
    max-width: 100%;
}

/*Help Section*/
.help li {
    list-style-type: disc !important;
    line-height: 1.5rem;
    padding-top: 1.25rem;
}

li ul li {
    margin-left: 4rem;
}
/*Interact Page*/


.pinku {
    padding-bottom: .5rem;
    border-bottom: 3px pink;
    border-bottom-style: solid;
}

/*FOOTER*/




