{% extends 'partials/base.html.twig' %}

{% block content %}
    <body>
        <div class="interact">
            <div class="section">
                <div class="container">
                    {{page.content}}
                </div>
            </div>
        </div>
    </body>
{% endblock %}
