{% extends 'partials/base.html.twig' %}

{% block content %}
<div class="features-page-intro">
        <div class="container">
                <h1>
                        Our full catalogue of features
                </h1>
                 <img src="{{ url('theme://images/features/diamond.svg') }}">
                <h2>
                        Made for you
                </h2>
                <a href="#">
                        
                </a>
        </div>
</div>
<div class="features-page">
        <div class="container">
                {{page.content}}
        </div>
</div><!-- End features section-->
   

{% endblock %}
