{% extends 'partials/base.html.twig' %}

{% block content %}
    <body>
        <div class="interact">
            <div class="section">
                <div class="container">
                    <h3 class="pinku">
                        Using Userfrosting
                    </h3>
                    <h4 class="blue-text text-darken-2">
                        How to get help with your project.
                    </h4>
                    <p class="text-flow">
                        <ul style="margin-left: 1.25rem;">
                            <li>
                                Remember that courtesy and proper grammar go a long way. Please take the time to craft a precise, polite question. We will do our best to help, but remember that this is an open source project run by volunteers.
                            </li>
                            <li>
                                Carefully search Stack Overflow, the Github issue tracker, and the wiki. Your question may have already been asked and answered before!
                            </li>
                            <li>
                                Report any error messages you get. There are two main places where you may find error messages:
                                <ul>
                                    <li>
                                        Backend (PHP-related) errors: in your PHP error log. This is usually a file called php_error_log or something like that. In XAMPP, the default location of this file is XAMPP/xamppfiles/logs/. For other web hosting platforms, please consult the documentation or do a quick Google search (i.e. "where is the php error log in _____"). Some web hosts may provide a special interface for accessing the php error log, through ssh, cpanel, etc. Please ask them directly for help with this.
                                    </li>
                                    <li>
                                    Frontend (Javascript-related) errors: in your browser's Javascript console. This can be accessed from "Tools->Web Developer" menu in Firefox, or "More tools->Javascript Console" in Chrome. For help with other browsers, please Google "where is the javascript console in ____".
                                    </li>
                                </ul>
                            </li>
                            <li>
                                If you find a problem in any of the tutorials, let us know on the Issues page. Also, please feel free to contribute to the wiki if you have something relevant and useful to add.
                            </li>
                        </ul>
                    </p>
                </div>
            </div>
            <div class="section white">
                <div class="container">
                    <h3 class="pinku">
                       Feature Requests
                    </h3>
                    <h4 class="blue-text text-darken-2">
                        I have a suggestion for how Userfrosting could be improved.
                    </h4>
                    <p class="text-flow">
                        Needless to say, we get tons of feature requests. If you'd like to make a suggestion, you must first search the <a href="https://github.com/userfrosting/UserFrosting/issues?utf8=%E2%9C%93&q=is%3Aissue%20label%3A%22feature%20request%22%20">existing issues</a>, both opened and closed.  Your idea may already have been suggested!
                    </p>
                    <p class="text-flow">
                        If your request doesn't appear to have been made before, you may <a href="https://github.com/userfrosting/UserFrosting/issues/new">open a new issue</a>.  Please note that we have a massive "todo" list for UserFrosting, so it may take us a long time to get to your suggestion.  If you'd like, you may volunteer to contribute code, or even consider <a href="http://www.userfrosting.com/components/#plugins">writing a plugin</a>.
                    </p>    
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <h3 class="pinku">
                       Bug Reporting 
                    </h3>
                    <h4 class="blue-text text-darken-2">
                        I think I found a bug in the code.
                    </h4>
                    <p class="text-flow">
                        So, you think you found a bug?  Well, please let us know!
                    </p>
                    <p class="text-flow">
                        <strong>But first</strong>, please make sure it is a problem with <i>UserFrosting</i>, and not a problem with the way your server is configured.  If you're getting a "white screen of death" when you try to install, there is a good chance that your server is not configured properly.  See the <a href="http://www.userfrosting.com/troubleshooting">troubleshooting guide</a> for help.
                    </p>
                    <p class="text-flow">We recommend that you install a local development server on your computer, rather than <a href="https://pbs.twimg.com/media/BxfENwpIYAAcHqQ.png" rel="nofollow">testing your code directly on the production server.</a>  This means you can test your code directly on your own computer, making development faster and without the risk of exposing sensitive information to the public.  We recommend installing <a href="https://www.apachefriends.org">XAMPP</a> if you don't already have a local server set up.</p>
                    <p class="text-flow">Please also make sure you check the <a href="http://www.userfrosting.com/installation">installation requirements</a>.  <strong>Notably, UserFrosting requires PHP 5.4 or higher to work!</strong></p>
                    <p class="text-flow">If you know all of this already, and you're pretty sure the problem is in our code, please <a href="https://github.com/userfrosting/UserFrosting/issues">open up an issue</a>.  Try to provide as much information as possible, including what you were doing when the problem occurred, what type of server you are running on (Apache, IIS, nginx, etc), and any errors in your PHP error log and/or browser console.</p>
                    <h5 style="margin-top: 2rem;">
                        Tips for reporting issues
                    </h5>
                    <ul style="margin-left: 1.25rem;">
                      <li>Remember that courtesy and proper grammar go a long way. Please take the time to craft a <strong>precise, polite issue</strong>. We will do our best to help, but remember that this is an open source project - none of us are getting paid a salary to develop this project, or act as your personal support hotline ;-)</li>
                      <li>Carefully search the <a href="https://github.com/userfrosting/UserFrosting/issues?utf8=%E2%9C%93&q=is%3Aissue">existing issues</a>, both opened and closed.  Your question may have already been asked and answered before!</li>
                      <li>Report any error messages you get. There are two main places where you may find error messages:
                        <ul>
                          <li>Backend (PHP-related) errors: in your PHP error log. This is usually a file called <code>php_error_log</code> or something like that. In XAMPP, the default location of this file is <code>XAMPP/xamppfiles/logs/</code>. For other web hosting platforms, please consult the documentation or do a quick Google search (i.e. "where is the php error log in _____"). Some web hosts may provide a special interface for accessing the php error log, through ssh, cpanel, etc. Please ask them directly for help with this.
                          </li>
                          <li>Frontend (Javascript-related) errors: in your browser's Javascript console. This can be accessed from "Tools->Web Developer" menu in Firefox, or "More tools->Javascript Console" in Chrome. For help with other browsers, please Google "where is the javascript console in ____".
                          </li>
                        </ul>
                      <li>If you find a problem in any of the tutorials, let us know on the Issues page. Also, please feel free to contribute to the <a href="https://github.com/userfrosting/UserFrosting/wiki">wiki</a> pages if you have something relevant and useful to add.</li>
                    </ul>
                </div>
            </div>
            <div class="section">
                <div class="container">
                    <h3 class="pinku">
                       Contributing
                    </h3>
                    <h4 class="blue-text text-darken-2">
                        I want to help!
                    </h4>
                    <p class="text-flow">
                        Yes, we'd love your help!  Join us in <a href="https://chat.userfrosting.com/channel/support">chat</a> and we can talk about how you can become a contributor.
                    </p>
                </div>
            </div>
        </div>
    </body>
          

{% endblock %}
