<div class="gallery section">
    <h3>
        Built with UserFrosting
    </h3>
    <div class="slick-slider">
        {% for image in page.media.images %}
        <div class="slide slide--has-caption slick-slide">
            {{ image.lightbox(1024,768).cropResize(auto,300).html }}
             <div class="slide__caption">
                <a href="{{ image.meta.link }}">
                   {{ image.meta.name }}
                </a>
             </div>
        </div>
        {% endfor %}
    </div>
</div>
