<div class="intro">
    <h1 class="center-align">
        Userfrosting <br>
       <span class="uk-text-muted">Modern user management for php.</span>
   </h1>
   <!-- Place this tag where you want the button to render. -->
   <div class="center-align">
       <a class="github-button" href="https://github.com/userfrosting/userfrosting" data-size="large" data-show-count="true" aria-label="Star userfrosting/userfrosting on GitHub">Star</a>
   </div>
</div>
<div class="section">
    <p class="flow-text">
        Chances are you're here because you have a great idea for a user-oriented website.
    </p>
    <p class="flow-text">
        Whether it's a private forum for your gaming community, an employee management system for your business, or the next big social network, you want to get started on your awesome new idea as quickly as possible.  You don't want to spend your time reinventing user sign-in and management features for the millionth time.  <em>Lucky for you - Userfrosting delivers all of this and more!</em>
    </p>
    <img src="{{ url('theme://images/frontpage/frontpage.jpg') }}" class="responsive-img">
</div>
<div class="section" itemscope itemtype="http://schema.org/WebApplication">
    <h3>
        A framework and an application.
    </h3>
    <p class="flow-text">
        UserFrosting is a web framework for PHP.  Like other web frameworks, it offers a complete toolbox of programmatic components for building your application.
    </p>
    <p class="flow-text">
        Unlike other PHP frameworks, <em> it's a fully-functioning user management application,</em> right out of the box.  And, it's fully extendable so that you can easily create the custom features you need.
    </p>
    <img src="{{ url('theme://images/frontpage/frontpage2.jpg') }}" class="responsive-img">
</div>
<div class="section">
    <h3 class="red-text text-lighten-2">
    Step up your game.
    </h3>
    <p class="flow-text">
        UserFrosting is designed to bring new and returning developers up to speed with the modern PHP community.  You'll be comfortably introduced to Composer (the dependency manager), object-oriented design patterns, and the PHP Standards Recommendations (PSR), making your code better structured and easier to manage.
    </p>
    <img src="{{ url('theme://images/frontpage/frontpage3.jpg') }}" class="responsive-img">
    <p class="flow-text">
        What's more, you'll learn how to use Node.js and Bower to cleanly manage client-side packages (Javascript and CSS).  Transform yourself from a code monkey into a software engineer.
    </p

</div>
