<footer class="page-footer blue-grey lighten-5">
    <div class="container">
      <div class="row">
        <div class="col s4">
          <h5 class="">Never miss a thing! Join our mailing list.</h5>
          <ul>
            <li><a class="text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="text-lighten-3" href="#!">Link 2</a></li>
          </ul>
        </div>
        <div class="col s4">
          <ul>
            <li><a class="text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright black-text">
      <div class="container">
      © 2017 Userfrosting 
      <span class="text-lighten-4 right" >
        <span>Welcome to UF version 4.0.</span>
        <span >To access an older version, click <a href=""> here for Version 3</a>,</span>
        <span> or <a href=''>here for Version 2.</a></span>
      </span>
      </div>
    </div>
    
</footer>

              