<footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col s6 right-align">
          <ul>
            <li><a class="text-lighten-3" href="https://twitter.com/UserFrosting"><i class="fa fa-twitter"></i> Follow on Twitter</a></li>
            <li><a class="text-lighten-3" href="https://github.com/userfrosting/UserFrosting"><i class="fa fa-github"></i> Follow on Github</a></li>
            <li><a class="text-lighten-3" href=" https://pledgie.com/campaigns/29583">Support Userfrosting</a></li>
            <li>Donate via Bitcoin: <code>18Ew1xGy1E3kjH1UyPEgJ3nnDN3ZWUY1N1</code></li>
          </ul>
        </div>
        <div class="col s6">
          <ul class="footer-alt">
            <li><a class="text-lighten-3" href="https://chat.userfrosting.com/channel/support">Chat</a></li>
            <li><a class="text-lighten-3" href="http://api.userfrosting.com">API Documentation</a></li>
            <li><a class="text-lighten-3" href="http://v3.userfrosting.com">Version 0.3</a></li>
            <li><a class="text-lighten-3" href="http://v3.userfrosting.com/0.2.2">Version 0.2.2</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright teal center-align">
      © 2017 Userfrosting. Userfrosting logo adapted from <a href="http://cliparts.co/clipart/1041303" target="_blank">Pink Cupcake by Jay Reed</a>.
    </div>
</footer>
