<footer class="page-footer teal">
    <div class="container center-align">
        <a class="text-lighten-3" href=" https://pledgie.com/campaigns/29583">Support UserFrosting</a><br>
        Donate via Bitcoin:<br><code>18Ew1xGy1E3kjH1UyPEgJ3nnDN3ZWUY1N1</code><br>
        <a class="text-lighten-3" href="http://api.userfrosting.com">API Documentation</a><br>
        <a class="text-lighten-3" href="https://legacy.userfrosting.com">Legacy Documentation</a><br>
        <div class="social">
            <a class="text-lighten-3" href="https://twitter.com/UserFrosting"><i class="fa fa-twitter"></i></a>
            <a class="text-lighten-3" href="https://github.com/userfrosting/UserFrosting"><i class="fa fa-github"></i></a>
        </div>
        <div class="footer-copyright teal">
          © {{ "now"|date("Y") }} UserFrosting. UserFrosting logo adapted from <a href="http://cliparts.co/clipart/1041303" target="_blank">Pink Cupcake by Jay Reed</a>.
        </div>
    </div>
</footer>
