<footer class="page-footer blue-grey lighten-5">
    <div class="container">
      <div class="row">
        <div class="col m6 right-align" style="padding-right: 50px">
          <ul>
            <li><a class="text-lighten-3" href="https://twitter.com/UserFrosting"><i class="fa fa-twitter"></i> Follow us on Twitter</a></li>
            <li><a class="text-lighten-3" href="https://github.com/userfrosting/UserFrosting"><i class="fa fa-github"></i> Star on Github</a></li>
            <li><a class="text-lighten-3" href=" https://pledgie.com/campaigns/29583">Support Userfrosting</a></li>
            <li>Donate via Bitcoin: <code>18Ew1xGy1E3kjH1UyPEgJ3nnDN3ZWUY1N1</code></li>
          </ul>
        </div>
        <div class="col m6 style="padding-left: 50px"">
          <ul class="footer-alt">
            <li><a class="text-lighten-3" href="https://chat.userfrosting.com/channel/support">Chat</a></li>
            <li><a class="text-lighten-3" href="http://www.userfrosting.com/api/namespace-UserFrosting.html">API </a></li>
            <li><a class="text-lighten-3" href="#!">Version 0.3</a></li>
            <li><a class="text-lighten-3" href="http://www.userfrosting.com/0.2.2/">Version 0.2.2</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright teal center-align">
      
      © 2017 Userfrosting
    </div>
    
</footer>

              