<footer class="page-footer blue-grey lighten-5">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="">Never miss a thing! Join our mailing list.</h5>
          <ul>
            <li><a class="text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="text-lighten-3" href="#!">Link 2</a></li>
          </ul>
        </div>
        <div class="col l4 offset-l2 s12">
          <ul>
            <li><a class="text-lighten-3" href="#!">Link 1</a></li>
            <li><a class="text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="text-lighten-3" href="#!">Link 4</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright black-text">
      <div class="container">
      © 2014 Copyright Text
      <a class="text-lighten-4 right" href="#!">More Links</a>
      </div>
    </div>
</footer>