<div class="navbar-fixed">
    <nav class="">
        <div class="nav-wrapper">
          <a href="{{ base_url }}" class="brand-logo" style="padding-left: 2rem; text-transform: uppercase">Userfrosting</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="{{url('features')}}">Features</a></li>
            <li><a href="https://learn.userfrosting.com/basics/installation" target="_blank">Getting Started</a></li>
            <li><a href="https://learn.userfrosting.com/" target="_blank">Documentation</a></li>
            <li><a href="https://learn.userfrosting.com/basics/getting-help" target="_blank">Get Help</a></li>
            <li><a class="btn" href="https://pledgie.com/campaigns/29583" target="_blank">Donate</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="{{url('features')}}">Features</a></li>
            <li><a href="https://learn.userfrosting.com/basics/installation" target="_blank">Getting Started</a></li>
            <li><a href="https://learn.userfrosting.com/" target="_blank">Documentation</a></li>
            <li><a href="https://learn.userfrosting.com/basics/getting-help" target="_blank">Get Help</a></li>
            <li><a class="btn" href="https://pledgie.com/campaigns/29583" target="_blank">Donate</a></li>
          </ul>
        </div>
    </nav>
</div>
  