<div class="navbar-fixed">
    <nav class="grey darken-4 white-text">
        <div class="nav-wrapper">
          <a href="home" class="brand-logo" style="padding-left: 2rem;">USERFROSTING</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="home">Tour</a></li>
            <li><a href="https://learn.userfrosting.com/basics/installation">Install</a></li>
            <li><a href="https://learn.userfrosting.com/">Learn</a></li>
            <li><a href="interact">Interact</a></li>
            <li><a class="btn red lighten-4 black-text" href="https://pledgie.com/campaigns/29583">Donate</a></li>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <li><a href="home">Tour</a></li>
            <li><a href="https://learn.userfrosting.com/basics/installation">Install</a></li>
            <li><a href="https://learn.userfrosting.com/">Learn</a></li>
            <li><a href="interact">Interact</a></li>
            <li><a class="" href="https://pledgie.com/campaigns/29583">Donate</a></li>
          </ul>
        </div>
    </nav>
</div>

  