<div class="navbar-fixed">
    <nav class="red lighten-4">
        <div class="nav-wrapper">
          <a href="#" class="brand-logo" style="color: black; font-family: roboto; font-weight: 500; padding-left: 1rem;">UF</a>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="">Tour</a></li>
            <li><a href="">Install</a></li>
            <li><a href="">Learn</a></li>
            <li><a href="">Interact</a></li>
            <li><a href="">Donate</a></li>
          </ul>
        </div>
    </nav>
</div>